.login{
	margin-top: 100px;
	padding: 56px;
	background-color: white;
}

.center-block {
    margin-left: auto;
    margin-right: auto;
}


.login {
    border: 1px solid #ccc;
    box-shadow: 0 0 12px #bbb;
    border-radius: 2px;
}

#login-user{
	margin-bottom: 18px;
}

img{
	width: 65px;
	margin-bottom: 15px;
}

body{
   background-image: url(../img/fondo.jpg);
   min-height: 100vh;
}